{% extends 'xinlireading/base-reg.html' %}
{% block title %}重置密码{% endblock %}
{% load widget_tweaks %}
{% block content %}
<form action="." method="POST" data-toggle="validator" role="form" name="form">
    {% csrf_token %}

  <div class="div-content-signup-panel" style="height:300px" id="signin_container" ng-controller="Ctrl">
    <p class="title"></p>
    <p class="subtitle" style="background-color:#DFF0D8; color:#4D8C4D">更新成功</p>
    <a type="button" class="btn btn-link btn-link-custom" href="/accounts/login/" style="font-size: 12px; padding-left:17px;">使用新密码登陆</a>

  </div>
</form>


{% endblock %}
