<!DOCTYPE html>
<html>
	<head>
		<!-- <title>心理读书会: 在线读书小组</title> -->
    <title>{% block title %}心理读书会: 在线读书小组{% endblock %}</title>
		{% load staticfiles %}
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'xinlireading/images/icon.ico' %}" />

	</head>

  <body>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/custom.css' %}" />

		<nav class="navbar navbar-inverse navbar-static-top navbar-static-top-custom">
      <div class="container-fluid">
        <div class="navbar-header navbar-header-custom">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home/">心理读书会</a>
        </div>

				<div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right navbar-right-custom">
            {% if is_signin %}
						<button type="button" class="btn btn-primary btn-primary-custom" onclick="location.href='/account/signup/'">注册</button>
            {% endif %}
            {% if is_signup %}
						<button type="button" class="btn btn-primary btn-primary-custom" onclick="location.href='/account/signin/'">登陆</button>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    {% block content %}
    {% endblock %}

		{% include "xinlireading/base-footer.html" %}
	<body>
</html>
