<div class="div-header-container" ng-controller="headerCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top navbar-static-top-custom">

      <!-- Error Message -->
      {% if not email_valid %}
      <div id="message" style="z-index:10000; display:block; font-size:14px" class="alert alert-danger" role="alert">
          您尚未验证电子邮件地址. 您必须验证您的电子邮件方可使用所有的功能！ <a class="btn btn-link" style="color:white; font-size:14px; padding-top:3px; padding-left:0px; text-decoration:underline" data-toggle="modal" data-target="#emailConfirmModal">没有收到电子邮件？</a>
      </div>
      {% endif %}

    <div class="container-fluid">
      <div class="navbar-header navbar-header-custom">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

        <a class="navbar-brand" href="/books/">心理读书会</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a style="font-size:14px;" href="/books/">热门书籍</a></li>
          <li><a style="font-size:14px;" href="/books/">热门活动</a></li>
          <li><a style="font-size:14px;" href="/reading/books/all/">我的书籍</a></li>
          <li><a style="font-size:14px;" href="/account/dashboard/">我的活动</a></li>
          <li>
            <div>
              <button type="button" class="btn btn-default btn-default-header" data-toggle="dropdown">
                <img class="img-circle img-user-profile-photo-header" src='/media/{{ request.user.userprofile.avatar_url|default:"avatar/avatar.png" }}' />
                <span class="glyphicon glyphicon-menu-down glyphicon-menu-down-custom"></span>
            </button>

            <ul class="dropdown-menu">
                <li><a href="/account/dashboard">个人中心</a></li>
                <li><a href="/settings/profile/">修改资料</a></li>
                <li><a href="/settings/account/">帐户设置</a></li>
                <li role="separator" class="divider"></li>
                <li><a id="logout-btn" href="">退出</a></li>
            </ul>
            </div>
          </li>
        </ul>
      </div><!--/.nav-collapse -->



    </div>
  </nav>
</div>

<script>
app.controller('headerCtrl', ['$scope', '$http', '$timeout', '$window', function ($scope, $http, $timeout, $window) {
    var handleLogoutBtnClick = function() {
        console.log('handleLogoutBtnClick');
        $http({
            method: 'POST',
            url: '/accounts/logout/'
        }).then(function successCallback(response) {
            console.log('successCallback');
            $window.location.href = "/accounts/profile/"
            // $window.location.reload();
        }, function errorCallback(response) {
            console.log('errorCallback');
        });

    };
    angular.element(document.querySelector('#logout-btn')).on('click', handleLogoutBtnClick);
}]);

</script>
