  {% load staticfiles %}

  <div class="container-fluid" style="background-color:#444444; padding:10px 0px">
    <div class="row" style="text-align:center">
        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-3 col-md-offset-1">
            <div style="width:100%;">
                    <input type="image" class="social-icon" src="{% static 'xinlireading/images/social-icon-qq.png' %}" />
                    <input type="image" class="social-icon" style="margin:0px 15px" src="{% static 'xinlireading/images/social-icon-weibo.png' %}" />
                    <input type="image" class="social-icon" src="{% static 'xinlireading/images/social-icon-wechat.png' %}" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3" style="padding:0px; margin-top:6px">
            <div class="div-copyright">
                <li class="copyright-content-text">Copyright © 2016, XinliReading.com</li>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4" style="padding:0px; margin-top:6px">
            <div class="div-about-us">
              <ul class="ul-content">
                <li>关于我们</li>
                <li>工作机会</li>
                <li>联系我们</li>
                <li>条款</li>
                <li>隐私</li>
              </ul>
            </div>
        </div>
    </div>
  </div>
