<div>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/custom.css' %}" />
  <div class="footer">
    <!-- <div class="content">
      <div>
        <ul class="content-ul">
          <li><input type="image" class="social-icon" src="{% static 'xinlireading/images/social-icon-qq.png' %}" /></li>
          <li><input type="image" class="social-icon" src="{% static 'xinlireading/images/social-icon-weibo.png' %}" /></li>
          <li><input type="image" class="social-icon" src="{% static 'xinlireading/images/social-icon-wechat.png' %}" /></li>
          <li class="footer-content-text">Copyright © 2016, XinliReading.com</li>
          <li><button type="button" class="btn btn-link btn-link-custom">关于我们</a></li>
        </ul>
    </div>
  </div> -->
  <div class="footer-container">
    <div class="div-social">
      <ul class="ul-content">
        <li><input type="image" class="social-icon" src="{% static 'xinlireading/images/social-icon-qq.png' %}" /></li>
        <li><input type="image" class="social-icon" src="{% static 'xinlireading/images/social-icon-weibo.png' %}" /></li>
        <li><input type="image" class="social-icon" src="{% static 'xinlireading/images/social-icon-wechat.png' %}" /></li>
      </ul>
    </div>
    <div class="div-copyright">
        <li class="copyright-content-text">Copyright © 2016, XinliReading.com</li>
    </div>
    <div class="div-about-us">
      <ul class="ul-content">
        <li>关于我们</li>
        <li>工作机会</li>
        <li>联系我们</li>
        <li>条款</li>
        <li>隐私</li>
      </ul>
    </div>
  </div>

  </div>
</div>
