<!DOCTYPE html>
<html>
	{% load staticfiles %}
	<head>
    <title>{% block title %}心理读书会: 在线读书小组{% endblock %}</title>
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'xinlireading/images/icon.ico' %}" />
	</head>
	<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/custom.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/bulma/bulma.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/base.css' %}" />

	<script type="text/javascript" src="{% static 'xinlireading/js/jquery-2.2.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'xinlireading/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'xinlireading/js/angular.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'xinlireading/js/base-angularapp-settings.js' %}"></script>

	<!-- <script>
	window.addEventListener('resize', resize, false);
	function resize() {
		if (window.innerHeight < 900px) {

		}
	}
	</script> -->
	<body ng-app="app">
		<div id="message" style="display:block" class="alert alert-danger" role="alert">
			您尚未验证电子邮件地址. 您必须验证您的电子邮件方可使用所有的功能！ <a class="btn btn-link" style="color:white; font-size:14px; padding-top:3px; padding-left:0px; text-decoration:underline" href="/account/email/">没有收到电子邮件？</a>
		</div>
		{% include "xinlireading/base-header.html" %}
		<div id="root-div" style="min-height:calc(100% - 127px)">
		{% block content %}
		{% endblock %}
		</div>
		{% include "xinlireading/base-footer.html" %}
	<body>
</html>
