  {% load staticfiles %}
  <div class="footer">
    <div class="footer-container">

      <!-- social icons -->
      <div class="div-social">
        <ul class="ul-content">
          <li><input type="image" class="social-icon" src="{% static 'xinlireading/images/social-icon-qq.png' %}" /></li>
          <li><input type="image" class="social-icon" src="{% static 'xinlireading/images/social-icon-weibo.png' %}" /></li>
          <li><input type="image" class="social-icon" src="{% static 'xinlireading/images/social-icon-wechat.png' %}" /></li>
        </ul>
      </div>

      <!-- copyright -->
      <div class="div-copyright">
          <li class="copyright-content-text">Copyright © 2016, XinliReading.com</li>
      </div>

      <!-- about us -->
      <div class="div-about-us">
        <ul class="ul-content">
          <li>关于我们</li>
          <li>工作机会</li>
          <li>联系我们</li>
          <li>条款</li>
          <li>隐私</li>
        </ul>
      </div>
    </div>
  </div>
