<!DOCTYPE html>
<html>
	{% load staticfiles %}
<head>
<title>{% block base_title %}心理读书会: 在线读书小组{% endblock %}</title>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'xinlireading/images/icon.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/custom.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/bulma/bulma.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/base.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/loading.css' %}" />
	<script type="text/javascript" src="{% static 'xinlireading/js/jquery-2.2.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'xinlireading/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'xinlireading/js/angular.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'xinlireading/js/base-angularapp-settings.js' %}"></script>

</head>

<body ng-app="app">
	<div ng-controller="BaseCtrl" data-ng-init="init()" style="min-height:calc(100vh - 60px);">
		<div id="message" style="display:none; z-index:1031" ng-class="messageClass" role="alert" ng-bind="message"></div>

		<!-- Base Content -->
		{% block base_content %}

		{% endblock %}
	</div>

	<!-- Modal -->
    <div class="modal fade" id="emailConfirmModal" role="dialog" style="margin-top:50px">

		<!-- <form id="email_form" action="" method="post"> -->
		  <div class="modal-dialog">
	        <!-- Modal content-->
	        <div class="modal-content">
				<!-- Header -->
			  <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal">&times;</button>
	            <h4 class="modal-title">确认您的电子邮件</h4>
	          </div>
			  <!-- Body -->
			  <div  class="modal-body" style="text-align:left; padding:25px; background-color:#F2F2;">
				  <div style="
					font-size: 13px;
					background-color: #DFF0D8;
					padding: 15px;
					margin: 10px 0px;
					color: #4D8C4D;
					display: none
					" id="email_send_success_message">一封确认邮件已发送至您的邮箱{{request.user.email}}</div>
	            <div style="
				    font-size: 15px;
				    font-weight: bold;
				">继续操作之前请先确认您的电子邮件...</div>
				<div style="
				    height: auto;
				    background-color: #f6fbfd;
				    padding: 20px 20px;
				    margin: 10px 0px;
				    font-size: 13px;
				">我们已发送一封确认邮件至 {$email$}，请点击其中的链接验证您的电子邮件地址。</div>
				<input name="email" type="hidden" value="{{request.user.email}}" />
				<div style="
				    font-size: 13px;
				    margin: 5px 0px;
				    margin-top: 15px;
				">仍有问题？</div>
					<ul style="margin-left: 30px; font-size: 13px;">
						<li style="list-style-type:initial">请记住检查您的垃圾邮件文件夹</li>
						<li style="list-style-type:initial">
							<button style="color:#337ab7; font-size:13px; padding:0px;" class="btn btn-link btn-link-custom" type="button" id="email_send_btn" name="action_send">再次发送确认邮件</button>
						</li>
						<li style="list-style-type:initial">
							<button id="change_email_btn" style="color:#337ab7; font-size:13px; padding:0px;" class="btn btn-link btn-link-custom" type="button">更改您的电子邮件地址</button>
							<div id="change_email_input" class="input-group" style="margin-top:10px; visibility:hidden">
						      <input id="new_email" type="email" class="form-control" placeholder="New Email">
						      <span class="input-group-btn">
						        <button id="email_add_btn" class="btn btn-default" type="submit" name="action_add">提交</button>
						      </span>
						    </div>
						</li>
					</ul>
	          </div>
			  <!-- Footer -->
	          <div id="modal-footer" class="modal-footer" style="background-color:white; display:block">
	            <button type="button" class="btn btn-primary btn-primary-custom" data-dismiss="modal">稍后处理</button>
	          </div>

	        </div>
	      </div>
		<!-- </form> -->
    </div>

	<div id="loading_view" style="position:fixed;left:0px;right:0px;top:0px;bottom:0px;background-color:white;z-index:99999; display:none">
		<div style=" position: absolute;top: 50%;left: 50%;width: 100%;margin-left: -50%;margin-top:-100px;text-align: center;">
			<div style="width: 50px; height: 50px; margin: 0 auto">
				<div class="loading"></div>
			</div>
			<h3 style="margin:12px 0px; margin-top:25px; padding-left:15px; font-weight: normal; font-size:20px; color:black">请稍等...</h3>
			<h4 style="color:black; font-size:15px; ">心理读书会，一个静下来读书的地方。</h4>
		</div>
	</div>

<body>

	<script>
		$("#change_email_btn").click(function() {
			$("#change_email_input").css('visibility', 'visible');
		});
		app.controller('BaseCtrl', ['$scope', '$element', '$http', '$timeout', '$window', function ($scope, $element, $http, $timeout, $window) {
			var handleEmailBaseMethod = function(data) {
				console.log('handleEmailBaseMethod');
				$http({
	                method: 'POST',
	                url: '/accounts/email/',
	                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
	                transformRequest: function(obj) {
	                    var str = [];
	                    for(var p in obj)
	                    str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
	                    return str.join("&");
	                },
	                data: data,
	            }).then(function successCallback(response) {
					console.log('successCallback');
	                if (response.data.match("Confirmation e-mail sent to")) {
	                    $("#email_send_success_message").css('display', 'block');
	                }
	            }, function errorCallback(response) {
	                console.log(response.data);
	            });
			};


			var handleResetConfirmEmailBtnClick = function() {
				handleEmailBaseMethod({ email: '{{request.user.email}}', action_send:'' });
			};
			angular.element(document.querySelector('#email_send_btn')).on('click', handleResetConfirmEmailBtnClick);


			var handleAddNewEmailBtnClick = function() {
				handleEmailBaseMethod({ email: $("#new_email").val(), action_add:'' });
			};
			angular.element(document.querySelector('#email_add_btn')).on('click', handleAddNewEmailBtnClick);


			$scope.loading = function(show) {
				if (show) {
					$("#loading_view").css('display', 'block');
				} else {
					$("#loading_view").css('display', 'none');
				}
			};
			$scope.init = function() {
				console.log('*** base_clear.html BaseCtrl init() *******************************************************');
				// $scope.loading(false);
				// $scope.showSuccessMessage('激活成功')
			};

			var showMessage = function(msg, type) {
				// alert(msg);
				$scope.message = msg;
				if (type == 'success') {
					$scope.messageClass = "alert alert-success navbar-fixed-top";
				} else if (type == 'warning') {
					$scope.messageClass = "alert alert-warning navbar-fixed-top";
				}
				$("#message").css('display', 'block');
				// $timeout(function () {
	            //     $("#message").css('display', 'none');
				// 	console.log('hidden');
	            // }, 1000);
			};
			$scope.showSuccessMessage = function(msg) {
				showMessage(msg, 'success');
			};
			$scope.showWarningMessage = function(msg) {
				showMessage(msg, 'warning');
			};
		}]);
	</script>
</html>
