
<div class="div-header-container">
  <nav class="navbar navbar-inverse navbar-static-top navbar-static-top-custom">
    <div class="container-fluid">
      <div class="navbar-header navbar-header-custom">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/account/dashboard/">心理读书会</a>
      </div>

      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div>
              <button type="button" class="btn btn-default btn-default-header">
                <img class="img-circle img-user-profile-photo-header" src='http://127.0.0.1:8000/media/{{ form.avatar_url.value|default:"avatar/avatar.png" }}' />
                <span class="glyphicon glyphicon-menu-down glyphicon-menu-down-custom"></span>
            </button>
            </div>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</div>
