<!DOCTYPE html>
<html>
	<head>
		<!-- <title>心理读书会: 在线读书小组</title> -->
    <title>{% block title %}心理读书会: 在线读书小组{% endblock %}</title>
		{% load staticfiles %}
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'xinlireading/images/icon.ico' %}" />

	</head>

  <body style="background-color:#f2f2f2">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/custom.css' %}" />

		{% include "xinlireading/base-header.html" %}

    {% block content %}

    {% endblock %}

		{% include "xinlireading/base-footer.html" %}
	<body>
</html>
