{% extends 'xinlireading/base.html' %}
{% block title %}{{ book.title }}{% endblock %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/book-detail.css' %}" />

<div class="container-fluid">
    <div class="row" style="background-color:#f2f2f2">
        <div class="col-md-9">
            <div class="left-container">

                <div style="height:33px;">
                    <p style="font-size:24px;">{{book.title}}</p>
                </div>

                <div style="height:179px;margin-top:12px;">
                    <div style="float:left;">
                        <img src="/media/{{book.cover}}" style="height:177px; width:120px; display:block; background-color:green" />
                    </div>
                    <div class="div-book-into-panel" style="height:100%; width:auto; float:left; padding-left:15px;">
                        <p>作者: {{book.author.name}}</p>
                        <p>出版社: {{book.publisher}}</p>
                        <p>出版日期: {{book.publish_date|date:'Y-m-d'}}</p>
                        <!-- <p>类型: {{book.type.name}}</p> -->
                        <p>价格: {{book.price}}</p>
                    </div>
                </div>


                <div style="margin-top:38px">
                    <p style="font-size:15px">内容简介</p>
                    {{book.intro|safe}}
                </div>

                <div style="margin-top:25px">
                    <p style="font-size:15px">作者简介</p>
                    {{book.author.intro|safe}}
                </div>
            </div>
        </div>
        <div class="col-md-3 book-reading-info-panel">
            <div class="right-container">
                <p>本书已有120位组员读过</p>
                <p>正在阅读的小组  10</p>
                <p>正在招募的小组 3</p>
                <button type="button" class="btn btn-primary btn-primary-custom btn-primary-custom-submit">报名这本书的读书会</button>
            </div>
        </div>
    </div>

</div>

{% endblock %}
