{% extends 'xinlireading/base.html' %}
{% block title %}{{ book.title }}{% endblock %}

{% block content %}
{% load staticfiles %}
<!-- <script type="text/javascript" src="{% static 'xinlireading/js/angular.min.js' %}"></script> -->
<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/bulma/bulma.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/font-awesome/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/book-detail.css' %}" />

<form id="myForm" ng-app="app" ng-controller="Ctrl">

    <div id="message" style="display:none" ng-class="messageClass" role="alert" ng-bind="error"></div>

    {% csrf_token %}
    <div class="container-fluid">
        <div class="row" style="background-color:#f2f2f2">
            <div class="col-md-9">
                <div class="left-container">

                    <div style="height:33px;">
                        <p style="font-size:24px; float:left; background-color:none">{{book.title}}</p>
                        <div style="float:right; text-align:right; background-color:none;">
                            <div style="float:left;">
                                <a id="favorite-btn" class="btn btn-link btn-link-custom" style="display:none">
                                    <span class="tag">
                                        <span class="icon is-small"><i class="fa fa-heart"></i></span>收藏
                                    </span>
                                </a>
                                <a id="unfavorite-btn" class="btn btn-link btn-link-custom" style="display:none">
                                    <span class="tag is-warning">
                                        <span class="icon is-small"><i class="fa fa-heart"></i></span>已收藏
                                    </span>
                                </a>
                            </div>
                            <span class="tag is-success">即将开始</span>
                            <span class="tag is-danger">已开始</span>

                        </div>
                    </div>

                    <div style="height:179px;margin-top:12px;">
                        <div style="float:left;">
                            <img src="/media/{{book.cover}}" style="height:177px; width:120px; display:block; background-color:green" />
                        </div>
                        <div class="div-book-into-panel" style="height:100%; width:auto; float:left; padding-left:15px;">
                            <p>作者: {{book.author.name}}</p>
                            <p>出版社: {{book.publisher}}</p>
                            <p>出版日期: {{book.publish_date|date:'Y-m-d'}}</p>
                            <p>价格: {{book.price}}</p>
                        </div>

                    </div>

                    <!-- <hr> -->
                    <div style="margin-top:20px; margin-bottom:20px">
                        <p style="font-size:14px; font-weight:bold">内容简介</p>
                        {{book.intro|safe}}
                    </div>

                    <hr>
                    <div style="margin-top:20px; margin-bottom:20px">
                        <p style="font-size:14px; font-weight:bold">作者简介</p>
                        {{book.author.intro|safe}}
                    </div>

                    <hr>
                    <div style="margin-top:20px; margin-bottom:20px">
                        <div style="font-size:14px; font-weight:bold">相关读书活动</div>
                        <ul style="margin-top:15px;font-size:13px;">
                            {% ifequal book.activitys.all.count 0 %}
                                <div>无相关活动</div>
                            {% else %}
                                {% for activity in book.activitys.all %}
                                    <li style="height:60px; margin:1px">
                                        <div style="float:left;width:calc(100% - 130px);">
                                            <div style="font-weight:bold; color:#3a3a3a"><a href="">{{activity.title}}</a></div>
                                            <div style="font-size:12px; color:#505050">{{activity.intro}}</div>
                                        </div>
                                        <div style="float:left; width:130px" >
                                            <div style="font-size:12px; color:#3A3A3A">活动时间: {{activity.start_date|date:'Y-m-d'}}</div>
                                            <button data-toggle="modal" data-target="#myModal" style="margin-left:30px" class="btn btn-primary btn-primary-custom btn-primary-custom-cancel">参加</button>

                                        </div>
                                    </li>
                                {% endfor %}
                            {% endifequal %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 book-reading-info-panel">
                <div class="right-container">
                    <div>120 位组员读过</div>
                    <div style="margin-top:10px; margin-bottom:30px">310 位组员在读</div>

                    {% ifequal book.activitys.all.count 0 %}
                        <div style="margin-bottom:10px;">无相关读书活动</div>
                        <button disabled="disabled" id="start-sign-activity-btn" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-primary-custom btn-primary-custom-submit">报名这本书的读书活动</button>
                    {% else %}
                        <div style="margin-bottom:10px;">相关读书活动 {{book.activitys.all.count}}</div>
                        <button id="start-sign-activity-btn" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-primary-custom btn-primary-custom-submit">报名这本书的读书活动</button>
                    {% endifequal %}
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">报名读书小组</h4>
              </div>
              <div  class="modal-body" style="text-align:center; padding:25px; background-color:#f2f2f2;">
                <div>
                  <div style="font-size:18px; margin-top:0px; margin-bottom:12px;">
                      <button class="btn btn-link" style="float:left" id="back-btn"><span class="glyphicon glyphicon-menu-left" ></span></button>
                      选择活动
                  </div>
                  <div style="height:25px; background-color:white"></div>
                  {% for activity in book.activitys.all %}
                    <a class="step1-class" ng-click="nextStep('{{activity.id}}')" style="display:block">
                        <div style="background-color:white; padding:0px 25px 25px 25px;">
                            <div class="activity-panel" style="border:1px solid #f0f0f0;padding:10px 0px">
                              <div style="font-weight:bold; color: #3a3a3a; font-size:14px;">活动名称: {{activity.title}}</div>
                              <div style="font-size:13px; color:#777; margin: 10px 0px">{{activity.intro}}</div>
                              <div style="font-size:13px; color:#777; margin: 10px 0px">开始时间: {{activity.start_date|date:'Y-m-d'}}  持续{{activity.duration}}天</div>
                            </div>
                        </div>
                    </a>

                    <div style="display:none" class="step2-class" id="activity-step2-id{{activity.id}}-container">
                        <div style="height:200px; text-align:left; background-color:white; padding-left:20px;display:block">
                            <div style="color: #3a3a3a; font-size:14px;">{{activity.title}}</div>
                            <div style="font-size:13px; color:#777; margin: 10px 0px">{{activity.intro}}</div>
                            <div style="font-size:13px; color:#777; margin: 10px 0px">开始时间: {{activity.start_date|date:'Y-m-d'}}  持续{{activity.duration}}天</div>
                            <div style="font-size:13px; color:#777; margin: 10px 0px;">规则:{{activity.rule|safe}}</div>

                        </div>
                    </div>
                  {% endfor %}
                </div>
                <!-- <div class="step2">
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary btn-primary-custom btn-primary-custom-cancel" data-dismiss="modal">取消</button>
                      <button id="save-photo-btn" type="button" class="btn btn-primary btn-primary-custom" data-dismiss="modal">报名</button>
                    </div>
                </div> -->

              </div>
              <div id="modal-footer" class="modal-footer" style="background-color:white; display:none">
                <button type="button" class="btn btn-primary btn-primary-custom btn-primary-custom-cancel" data-dismiss="modal">取消</button>
                <button id="sign-activity-btn" type="button" class="btn btn-primary btn-primary-custom" data-dismiss="modal">报名</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</form>

<script type="text/javascript">
var app = angular.module('app', []);
app.config(function($httpProvider, $interpolateProvider, $locationProvider) {
  $httpProvider.defaults.xsrfCookieName = 'csrftoken';
  $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
  $interpolateProvider.startSymbol('{$');
  $interpolateProvider.endSymbol('$}');
  // $locationProvider.html5Mode(true);
});

app.controller('Ctrl', ['$scope', '$element', '$http', '$timeout', '$window', function ($scope, $element, $http, $timeout, $window) {

    // $("#message").hide();
    $scope.book_id = {{ book.id }};
    $scope.activity_id = -1;
    $scope.isFavorite = ({{ isFavorite }} == 1) ? true : false;
    // $scope.error = "";
    // $scope.isFavorite = false;
    // $scope.myStyle = { 'visibility': 'hidden' };
    var toggleStep = function(showStep1, showStep2) {
        var step1Elements = $element.find('.step1-class');
        angular.forEach(step1Elements, function(value, key) {
            value.style.display = showStep1 ? 'block' : 'none';
        });
        var step2Elements = $element.find('.step2-class');
        angular.forEach(step2Elements, function(value, key) {
            value.style.display = showStep2 ? 'block' : 'none';
        });
    };


    var startSignActivityButtonClick = function() {
        // Show the step1 view, Hiden the step2 view
        toggleStep(true, false);
    };
    angular.element(document.querySelector('#start-sign-activity-btn')).on('click', startSignActivityButtonClick);


    $scope.nextStep = function(activity_id) {
        $scope.activity_id = activity_id;
        // // Hide the step1 view
        toggleStep(false, false);
        // Show the selected activity view
        var selected_activity_id = "#activity-step2-id"+activity_id+"-container";
        $(selected_activity_id).css('display', 'block');
        // Show the modal footer
        $("#modal-footer").css('display', 'block');
    };


    var backButtonClick = function() {
        // Show the step1 view, Hide the step2 view
        toggleStep(true, false);
        $("#modal-footer").css('display', 'none');
    };
    angular.element(document.querySelector('#back-btn')).on('click', backButtonClick);


    var signActivityButtonClick = function() {
        var url = '/book/' + $scope.book_id + '/activity/' + $scope.activity_id + '/sign/'
        $http({
            url: url,
            method: "POST",
        }).then(function success(response) {
            $("#message").css('display', 'block');
            $scope.messageClass = "alert alert-success";
            $scope.error = response.data;
            // Redirect to new page
            $timeout(function () {
                $("#message").css('display', 'none');
                $window.location.href = url;
            }, 1500);
        }, function error(response) {
            $("#message").css('display', 'block');
            $scope.error = response.data;
            $scope.messageClass = "alert alert-danger";
            $timeout(function () {
                $("#message").css('display', 'none');
            }, 1500);
        });
    };
    angular.element(document.querySelector('#sign-activity-btn')).on('click', signActivityButtonClick);


    var HandleToggleFavoriteClick = function(isFavorite) {
        console.log('HandleToggleFavoriteClick');
        // $scope.disableFavoriteButton = {'visibility': 'hidden'};
        // $scope.disableUnFavoriteButton = {'visibility': 'visible'};
        $("#favorite-btn").css('display', isFavorite ? 'none' : 'block');
        $("#unfavorite-btn").css('display', !isFavorite ? 'none' : 'block');

        if (isFavorite) {
            console.log('add favorite');
        } else {
            console.log('remove favorite');
        }

        var url = '/book/' + $scope.book_id +'/';
        $http({
            method: 'POST',
            url: url,
            data: { 'favorite': $scope.isFavorite ? 1 : 0}
        }).then(function successCallback(response) {
            console.log(response.data);
        }, function errorCallback(response) {
            console.log(response.data);
        });
        $scope.isFavorite = !$scope.isFavorite;
    };
    var HandleFavoriteBtnClick = function() {
        HandleToggleFavoriteClick(true);
    };
    var HandleUnFavoriteBtnClick = function() {
        HandleToggleFavoriteClick(false);
    };
    angular.element(document.querySelector('#favorite-btn')).on('click', HandleFavoriteBtnClick);
    angular.element(document.querySelector('#unfavorite-btn')).on('click', HandleUnFavoriteBtnClick);
    HandleToggleFavoriteClick($scope.isFavorite);
    // console.log();
}]);
</script>

{% endblock %}
