{% extends 'xinlireading/base.html' %}
{% block title %}{{ book.title }}{% endblock %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/books.css' %}" />

<div style="padding:20px 0px 0px 44px">
    <p style="font-size:28px">找书</p>
    <p style="font-size:13px">寻找你想看的书。在书的详情页里查看可参加的小组。</p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9" style="background-color:red; height:800px">
            <div style="background-color:yellow; height:100px">
                <div style="float:left; background-color:green; height:20px; width:calc(100% - 250px)">
                    <input class="form-control" style="height:46px" />
                </div>
                <div style="width:250px; float:left">
                    <button type="button" class="btn btn-primary btn-primary-custom" style="width:230px; height:46px;border-width:0px">筛选</button>
                </div>
            </div>

            <ul>
                {% for book in books %}
                <li><a href="/book/{{book.id}}">
                        <div style="height:166px; background-color:white; margin-bottom:1px; min-width:500px">
                            <div style="width:100px; height:100%; background-color:lightgray; float:left">
                                <img src="/media/{{book.cover}}" style="height:147px; width:100px; display:block; background-color:green" />
                            </div>
                            <div style="width:calc(100% - 100px); min-width:200px; height:100%; background-color:gray; float:left"></div>
                            <!-- <div></div> -->
                            <!-- <div style="width:150px; height:100%; background-color:yellow; float:left"></div> -->
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>

        </div>
        <div class="col-md-3" style="background-color:green; height:800px">

        </div>
    </div>
</div>

{% endblock %}
