{% extends 'xinlireading/base.html' %}
{% block title %}个人中心 - 心理读书会{% endblock %}

{% block content %}
{% load staticfiles %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/bootstrap.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/custom.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/dashboard.css' %}" />
<script type="text/javascript" src="{% static 'xinlireading/js/jquery-2.2.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'xinlireading/js/validator.js' %}"></script>
<!-- <p>{{ user.get_username }}</p>
<p>{{ user.email }}</p>
<p>{{ user.password }}</p>
<p>{{ user.userprofile.is_activated }}</p>
<form action="/account/logout/" method="post" id="logout_form">
  {% csrf_token %}
  <input type="submit" value="Logout now" />
</form> -->
<div class="dashboard-container">

  <div class="div-user-info-container">

    <!-- userinfo -->
    <div class="div-base-user-info-panel">
      <div>
        <div class="div-user-info-photo">
          <img class="img-circle img-user-profile-photo" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTUyMmQxNDc3ZiB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NTIyZDE0NzdmIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA1NDY4NzUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" />
        </div>
        <div class="div-user-info-name">
          <label class="label-user-profile-name">Carl Yang</label><br />
          <div style="margin-top:10px">
            <span class="label-user-profile-level">一年级</span></br />
            <span class="label-user-profile-reading-total">共看过 12 本书</span>
        </div>
        </div>
      </div>
    </div>

    <div>
      <!-- edit userinfo button -->
      <button type="submit" class="btn btn-default btn-defult-edit-userinfo">
        <span class="glyphicon glyphicon-cog"></span> 修改资料
      </button>
    </div>

    <div class="div-my-posts-total-panel">
      <ul>
        <li class="list-group-item list-group-item-custom"><label class="title">本月</label></li>
        <li class="list-group-item list-group-item-custom">
          <label>已发打卡笔记</label><span class="badge">32</span>
        </li>
      </ul>
    </div>

    <div class="div-my-books-total-panel">
      <ul>
        <li class="list-group-item list-group-item-custom"><label class="title">我的书籍</label></li>
        <li class="list-group-item list-group-item-custom"><label>已看</label><span class="badge">2</span></li>
        <li class="list-group-item list-group-item-custom"><label>收藏</label><span class="badge">23</span></li>
      </ul>
    </div>

  </div>

  <div class="div-group-info-container">
    test1
  </div>

</div>
{% endblock %}
