{% extends 'xinlireading/base.html' %}
{% block title %}个人中心 - 心理读书会{% endblock %}

{% block content %}
{% load staticfiles %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/bootstrap.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/dashboard.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/custom.css' %}" />
<script src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'xinlireading/js/validator.js' %}"></script>

<div class="dashboard-container">
</div>
{% endblock %}
