{% extends 'xinlireading/base.html' %}
{% block title %}个人中心 - 心理读书会{% endblock %}

{% block content %}
{% load staticfiles %}
{% load widget_tweaks %}

<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/ngImgCrop/ng-img-crop.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/edit-profile.css' %}" />
<script type="text/javascript" src="{% static 'xinlireading/js/validator.js' %}"></script>
<script src="{% static 'xinlireading/ng-file-upload/ng-file-upload-shim.min.js' %}"></script>
<script src="{% static 'xinlireading/ng-file-upload/ng-file-upload.min.js' %}"></script>
<script src="{% static 'xinlireading/ngImgCrop/ng-img-crop.js' %}"></script>

<form id="myForm" method="post" action="" data-toggle="validator" role="form" ng-controller="Ctrl">
  {% csrf_token %}
    <!-- 修改资料 标题 -->
    <div class="div-title-panel page-title">修改资料</div>
    <!-- 基本信息 标题 -->
    <div class="div-baseinfo-label-panel"><label>基本信息</label>
    </div>

    <div>
        <!-- 用户信息 -->
        <div class="div-userinfo-panel">
          <div class="container-fluid">
              <div class="row">
                <div class="col-sm-4 col-md-4 div-col-userphoto">
                  <div class="row">
                    <!-- <img id="photoImage" class="img-circle img-user-profile-photo" src='http://127.0.0.1:8000/media/{{request.user.userprofile.avatar_url}}' > -->
                    <img id="photoImage" class="img-circle img-user-profile-photo" src='http://127.0.0.1:8000/media/{{ form.avatar_url.value|default:"avatar/avatar.png" }}' >
                    <input type="hidden" name="avatar_url" id="avatar_url" value="{{form.avatar_url.value}}">
                  </div>
                  <div class="row">
                    <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-link btn-link-custom"><span class="glyphicon glyphicon-pencil"></span>编辑头像</button>
                  </div>
                </div>
                <div class="col-sm-8 col-md-8 div-col-userinfo">
                  <div class="row">
                    <div class="col-md-3">
                      <label id="namelabel">名字</label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                          {% render_field form.name|attr:"required"|attr:"maxlength:20"|attr:"data-customlengthvalidator:true" class+="form-control" placeholder=" " %}
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label id="addresslabel">住在<label>
                    </div>
                    <div class="col-md-5">
                      <!-- {% render_field form.name class+="form-control" placeholder=" " %} -->
                      <div class="form-group">
                          {% render_field form.address_country|attr:"required"|attr:"data-error:请输入你的住址" class+="form-control" placeholder=" " %}
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <!-- {% render_field form.name class+="form-control" placeholder=" " %} -->
                      <div class="form-group">
                          {% render_field form.address_city|attr:"required"|attr:"data-error:请输入你的住址" class+="form-control" %}
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label id="birthlabel">出生日期</label>
                    </div>
                    <div class="col-md-5">
                      <!-- {% render_field form.birth_year class+="form-control" placeholder=" " %} -->
                      <div class="form-group">
                          {% render_field form.birth_year|attr:"required"|attr:"data-error:请选择出生日期" class+="form-control" %}
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <!-- {% render_field form.birth_month class+="form-control" placeholder=" " %} -->
                      <div class="form-group">
                          {% render_field form.birth_month|attr:"required"|attr:"data-error:请选择出生日期" class+="form-control" %}
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <!-- {% render_field form.birth_day class+="form-control" placeholder=" " %} -->
                      <div class="form-group">
                          {% render_field form.birth_day|attr:"required"|attr:"data-error:请选择出生日期" class+="form-control" %}
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label id="genderlabel">性别</label>
                    </div>
                    <div class="col-md-5">
                      <!-- {% render_field form.gender class+="form-control" placeholder=" " %} -->
                      <div class="form-group">
                          {% render_field form.gender|attr:"required"|attr:"data-error:请选择您的性别" class+="form-control" placeholder=" " %}
                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- <select id="gender_select" class="form-control">
                        <option>请选择你的性别</option>
                        <option>女</option>
                        <option>男</option>
                      </select> -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label id="introlabel">个人简介</label>
                    </div>
                    <div class="col-md-9">
                      <!-- {% render_field form.intro class+="form-control" placeholder=" " %} -->
                      <div class="form-group">
                          {% render_field form.intro class+="form-control" placeholder="介绍一下你自己吧" %}
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <!-- 保存按钮 -->
        <div class="div-savebtn-panel">
          <button id="saveButton" type="button" ng-click="save()" class="btn btn-primary btn-primary-custom">保存</button>
        </div>
    </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content modal-content-custom">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">编辑资料头像</h4>
        </div>
        <div class="modal-body">
          <!-- <p>Some text in the modal.</p> -->
          <input type="file" id="fileInput" accept="image/*" />
          <p class="guide-message">若要裁剪图像，拖动或移动要截取的选择区域然后点击“保存”按钮。</p>
          <div>
            <div class="row">
              <div>
                <div class="col-md-8 uploadimage-container">
                  <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                </div>
                <div class="col-md-4">
                  <img id="croppedImage" ng-src="{$myCroppedImage$}" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-primary-custom btn-primary-custom-cancel" data-dismiss="modal">取消</button>
          <button id="save-photo-btn" type="button" class="btn btn-primary btn-primary-custom" data-dismiss="modal">保存</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script type="text/javascript">
window.addEventListener('resize', resize, false);
function resize() {
  $('#namelabel').css('float', window.innerWidth <= 991 ? 'left' : 'right')
  $('#addresslabel').css('float', window.innerWidth <= 991 ? 'left' : 'right')
  $('#birthlabel').css('float', window.innerWidth <= 991 ? 'left' : 'right')
  $('#introlabel').css('float', window.innerWidth <= 991 ? 'left' : 'right')
  $('#genderlabel').css('float', window.innerWidth <= 991 ? 'left' : 'right')
}
window.addEventListener('load', load, false);
function load() {
  resize();
}

function initGenderOptions() {
  var gender_select = document.getElementById("gender_select");
  gender_select.options.add(new Option("未知","-1"));
}

$('#myForm').validator({
  custom: {
    customlengthvalidator: function($el) {
      var content = $el.val();
      if (content == null || content.length == 0) {
        return true;
      }
      if (content.length >= 3 && content.length <=20) {
        return true;
      }
      return false;
    }
  },
  errors: {
    customlengthvalidator: "名字必须介于 8 至 20 个字符之间"
  }
})

document.addEventListener("DOMContentLoaded", function() {
    var elements = document.getElementsByTagName("INPUT");
    for (var i = 0; i < elements.length; i++) {
        elements[i].oninvalid = function(e) {
            e.target.setCustomValidity("");
            if (!e.target.validity.valid) {
                e.target.setCustomValidity("请输入你的名称");
            }
        };
        elements[i].oninput = function(e) {
            e.target.setCustomValidity("");
        };
    }
})

// var app = angular.module('app', ['ngImgCrop', 'ngFileUpload']);
app.requires.push('ngImgCrop');
app.requires.push('ngFileUpload');
app.controller('Ctrl', ['$scope', 'Upload', '$timeout', function ($scope, Upload, $timeout) {
  $scope.uploadPic = function(file) {
    console.log('uploadPic');
    var file = Upload.dataUrltoBlob($scope.myCroppedImage, 'a.png');
    file.upload = Upload.upload({
      url: 'http://127.0.0.1:8000/upload/',
      data: {username: 'username', file: file },
    });

    file.upload.then(
      function (response) {
        // success
        var $myForm = $("#myForm");
        $("#avatar_url").val(response.data);
        $myForm.submit();
      }, function (response) {
      if (response.status > 0)
        $scope.errorMsg = response.status + ': ' + response.data;
      }, function (evt) {
        // Math.min is to fix IE which reports 200% sometimes
        file.progress = Math.min(100, parseInt(100.0 * evt.loaded / evt.total));
      });
  };

  $scope.myImage='';
  $scope.myCroppedImage='';
  $scope.photoImageChanged = false;

  // Select a new image file as photo.
  var handleFileSelect=function(evt) {
    var file=evt.currentTarget.files[0];
    var reader = new FileReader();
    reader.onload = function (evt) {
      $scope.$apply(function($scope){
        $scope.myImage=evt.target.result;
      });
    };
    reader.readAsDataURL(file);
  };
  angular.element(document.querySelector('#fileInput')).on('change',handleFileSelect);

  // Set the croped image to the photo image.
  var handleSavePhotoBtnClick=function(evt) {
    console.log('handleSavePhotoBtnClick'); // ok
    var $croppedImage = $("#croppedImage");
    var $photoImage = $("#photoImage");
    // $photoImage.attr('src', $croppedImage.prop('src')); // method #1 is ok
    $photoImage.attr('src', $scope.myCroppedImage); // method #2 is ok
    $scope.photoImageChanged = true;
  };

  angular.element(document.querySelector('#save-photo-btn')).on('click', handleSavePhotoBtnClick);

  // Save button click event.
  $scope.save = function() {
    console.log('save');
    // upload image
    if ($scope.photoImageChanged) {
      $scope.uploadPic($scope.myCroppedImage);
    } else {
      var $myForm = $("#myForm");
      $myForm.submit();
    }
  };
}]);
</script>
{% endblock %}
