{% extends 'xinlireading/base-reg.html' %}
{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'xinlireading/js/jquery-2.2.4.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/home.css' %}" />

<!-- <div class="row">
	<div class="section1">
		<div class="blackboard-background">
			<div id="blackboard" class="blackboard">
				<p class="title">
					你有多久没有<br/>静下心来看一本书了
				</p>
				<p class="content">
					在小组的督促下坚持每周共读一本书，<br/>享受共同成长的乐趣。
				</p>
				<button type="button" class="btn btn-primary btn-primary-custom" onclick="location.href='/account/signup/'">立刻开始</button>
			</div>
		</div>
	</div>
	<div style="background-color:green">
		<ul class="list">

			<li class="container"></li>
			<li class="container"></li>
			<li class="container"></li>
			<li class="container"></li>
			<li class="container"></li>
			<li class="container"></li>
			<li class="container"></li>
			<li class="container"></li>
		</ul>
	</div>
</div> -->
<div class="container-fluid container-fluid-custom">

	<div class="row">
		<div style="overflow:hidden;width:100%">
			<img src="{% static '/media/books-reading-chinese-students.jpg' %}" style="display:block;width:100%">

			<div id="blackboard" class="blackboard">
				<p class="title">
					你有多久没有<br/>静下心来看一本书了
				</p>
				<p class="content">
					在小组的督促下坚持每周共读一本书，<br/>享受共同成长的乐趣。
				</p>
				<button type="button" class="btn btn-primary btn-primary-custom" onclick="location.href='/account/signup/'">立刻开始</button>
			</div>
			</img>

		</div>
		<div style="width:100%;background-color:white;padding-bottom:100px">
			<ul class="list">
				{% for book in books %}
				<a href="/book/{{book.id}}">
					<li class="book-container">
						<div style="margin:0px">
							<img src="/media/{{book.cover}}" style="height:222px; width:149px" />
							<div style="width:100%; text-align:center">{{book.title}}</div>
						</div>
					</li>
				</a>
				{% endfor %}
			</ul>
			<div>
				<div style="width:100%; text-align:center; font-size:30px">在书中寻找生命的意义</div>
				<div style="width:100%; text-align:center;margin-top:20px">
					<button type="button" class="btn btn-primary btn-primary-custom" style="font-size:17px; width:130px; height:38px;" onclick="location.href='/account/signup/'">开始读书</button>
				</div>
			</div>
		</div>
		<div style="width:100%;background-color:#FF7B73;padding:50px 0px">
			<div style="width:100%; text-align:center; font-size:30px; color: white">成为一个真正的读者</div>
			<div style="width:100%; text-align:center; font-size:15px; margin: 30px 0px; color: white">小组共读，在督促下轻松养成读书习惯</div>
			<ul class="list" style="padding:0px 154px">
				<li class="book-container" style="width:168px; height:256px"></li>
				<li class="book-container" style="width:168px; height:256px"></li>
				<li class="book-container" style="width:168px; height:256px"></li>
			</ul>
		</div>

		<div style="position:relative;  background-color:yellow;">
			<div style="width:100%; top:100px; left:0px; position:absolute; float:left; background-color:rgba(255, 255, 255, 0.8);">
				<div style="width:100%; height:50px; text-align:center; font-size:30px; margin-top:60px">怎么加入小组共读？</div>
				<div style="width:100%; height:100px; text-align:center; font-size:15px;">在心理读书会，你可以非常简单地加入一个小组！</div>
				<ul class="list" style="padding:0px 154px">
					<li class="book-container" style="width:168px; height:256px"></li>
					<li class="book-container" style="width:168px; height:256px"></li>
					<li class="book-container" style="width:168px; height:256px"></li>
				</ul>
			</div>
			<img src="{% static '/media/jiaoshi.jpg' %}" style="display:block;width:100%;">

		</div>

	</div>
</div>
<script>
HTMLElement.prototype.alpha = function(a) {
        current_color = getComputedStyle(this).getPropertyValue("background-color");
        match = /rgba?\((\d+)\s*,\s*(\d+)\s*,\s*(\d+)\s*(,\s*\d+[\.\d+]*)*\)/g.exec(current_color)
        a = a > 1 ? (a / 100) : a;
        this.style.backgroundColor = "rgba(" + [match[1],match[2],match[3],a].join(',') +")";
      }

window.addEventListener('resize', resize, false);
function resize() {
	console.log('resize');
	var blackboard = document.getElementById('blackboard');
	// blackboard.offsetWidth
	if (window.innerWidth < 450) {
		$('#blackboard').css('top', 58)
		blackboard.alpha(0.0)

	} else if (window.innerWidth < 600) {
		$('#blackboard').css('top', 80)
		blackboard.alpha(0.0)

	} else if (window.innerWidth < 800) {
		$('#blackboard').css('top', 120)
		blackboard.alpha(0.6)

	} else {
		blackboard.alpha(0.6)
		$('#blackboard').css('top', 160)
	}
}
resize();
</script>


{% endblock %}
