<!DOCTYPE html>
<html>
	<head>
		<title>心理读书会</title>
	</head>

	<body>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/style.css' %}" />

		<img class="logo" src="{% static 'xinlireading/images/logo.jpg' %}" />

		<div class="container">
			<p class="title">
				心理读书会
			</p>
			<p class="context">
				你有多久没有认真读完一本书了？让浮躁的内心安静下来，安静下来读一本不错的书。如果可以，每月泛读四本书、精读一本书应该是能够完成的吧！这样算下来一年就能看52本了。
				<br />
				加入心理读书会吧，全国首家心理类线上读书会，语音分享、思维导图、小组打卡，对抗这烦人的惰性！
			</p>
		</div>
	<body>
</html>