{% extends 'xinlireading/base-reg.html' %}

{% block title %}注册{% endblock %}

{% block content %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/custom.css' %}" />
<form method="post" action="">
  {% csrf_token %}
  {{ form.errors }}
  {{ form.non_field_errors }}
  <div class="div-content-signup-container">
    <div class="div-content-signup-panel">
      <p class="title">注册</p>
      <p class="subtitle">用电子邮箱注册</p>

      <div class="form-group form-group-custom">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </div>
          <input type="email" class="form-control" name="username" placeholder="Email">
        </div>
      </div>

      <div class="form-group form-group-custom">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </div>
          <input type="password" class="form-control" name="password1" placeholder="Password">
      </div>
      </div>

      <div class="form-group form-group-custom">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </div>
          <input type="password" class="form-control" name="password2" placeholder="Confirm Password">
      </div>
      </div>

      <button type="submit" class="btn btn-primary btn-primary-custom btn-primary-custom-submit">注册</button>

      <p class="copyright">创建帐户表示您接受我们的<a>服务条款</a>。</p>
    </div>
  </div>
</form>
{% endblock %}
