{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'xinlireading/css/test.css' %}" />


{% csrf_token %}
{% load widget_tweaks %}

<!-- {{ form }}
<div class="wrapper">
  <div class="block1">{% render_field form.name %}</div>
  <div class="block1">{% render_field form.name|add_class:"form-control" %}</div>
  <div class="block2">{{ form.name }}</div>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="please input your name">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="please input your name">
    </div>
    <!-- <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div> -->
  </div>
</div>
