
body {
	background: #59AA98;
	background-size: cover
}

.logo {
	width: 160px;
	height: 160px;
	border-radius:80px;
	margin: 0 auto;
	margin-top: 150;
	display: block;
}
.container {
	text-align: center;
	margin-top: 30;
}
.title {
	font-size: 35;
	color: white;
	font-family: Verdana
}
.context {
	color: white;
	text-align: center;
	font-size: 14;
	color: white;
	font-family: Verdana;
	margin-left: 250;
	margin-right: 250;
}