.btn-link-custom:hover, .btn-link-custom:focus   {
    text-decoration: none;
}

ul {
    padding-left: 0px;
}
li {
    list-style-type: none;
}

body {
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft Yahei","Helvetica","Arial","Verdana";
    /*color: #505050;*/
    /*color: #1fc8db*/
    color: #3A3A3A;
}
body, html {
    height:100%;
}

.xl-title {
    color: #3A3A3A
}
hr {
    border-top-color: #F2F2F2
}
.alert {
    margin-bottom: 0px;
    text-align: center;
    background-color: #DE5D4D;
    color: white
}
