.left-container {
    margin-top:32px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:20px;
    background-color: white;
    padding: 15px 27px;
}

.left-container p {
    font-size: 13px;
    color: #3A3A3A;
}

.div-book-into-panel p {
    color: #505050
}
.right-container {
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:32px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
    /*margin: 10px;*/
    height: 300px;
    /*background-color: green;*/
    /*align-content: center;*/
    text-align: center;
    width: auto;
}

.right-container div {
    font-size: 13px;
    color: #505050
}
.book-reading-info-panel {
    padding-top: 34px;
}
.btn-primary-custom-submit {
    margin: 0px;
    width: 196px;
    height: 36px;
    border-width: 0px;
    background-color: #78BE2C;
}
.btn-primary-custom-submit:hover {
    background-color: #78BE2C;
}
.btn-primary-custom-submit:focus {
    background-color: #78BE2C;
}

.btn-primary-custom-cancel {
    font-size: 12px;
    width: 70px;
    color:#3A3A3A;
    /*font-weight: normal;*/
}
.btn-primary-custom-cancel:hover {
  background-color: #C2C2C2;
  /*color: white;*/
}
.btn-primary-custom-cancel:focus {
    background-color: #C2C2C2;
}

.left-container ul {
    padding-left: 0px
}
.left-container li {
    list-style-type: none;
}
.activity-panel {
    background-color: white;
}
.activity-panel:hover {
     background-color: #FBFBFB;
 }

#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
}

.btn-link-custom {
    padding: 0px
}

.btn-link-custom .tag:hover, .btn-link-custom  .tag:focus   {
    color: #505050
}
