.container-fluid .li-book {
    list-style-type: none;
    /*margin-left: 20px;*/
}

.div-book-info-panel {
    width: calc(100% - 116px);
    min-width: 200px;
    height: 100%;
    float: left;
    padding-left: 15px;
    padding-top: 15px;
}

.div-book-info-panel>div {
    font-size: 12.5px;
    color: #505050;
    padding-top: 8px;
    font-weight: normal;
}
.div-book-info-panel > div:first-child {
    font-size: 13.5px;
    color: #337AB7;
}

.div-reading-info-panel {

}
.div-reading-info-panel > div {
    font-size: 13px;
    color: #505050
}
#filterBtn .btn {
    padding: 0px;
    /*margin-top: 20px;*/
    /*margin-left: 10px;*/
}
.tag {
    font-size: 11px;
    height:20px

}
