@font-face { font-family: PingFang SC; src: url('../fonts/PingFang-Regular.ttf'); }

body {
    font-family: "PingFang SC","Helvetica Neue","Helvetica","Hiragino Sans GB","Arial","Verdana","Microsoft Yahei";
}

.container-fluid {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}
.navbar-static-top-custom {
  background-color: #ECA739;
  border-color: #ECA739;
  font-size: 10px;
  margin-bottom: 0px;
}

.navbar-header-custom {
}

.navbar-header-custom .collapsed {
  border-color: white
}

.navbar-header-custom .navbar-brand {
  font-size: 28px;
  color: white;
  height: 58px;
  margin-top: 8px;
}

.navbar-right-custom {
  margin-top: 22px;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 15px;
    /*font-weight: lighter;*/
    padding-top: 28px;
    color: #505050;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: black;
}

.dropdown-menu > li > a {
    font-size: 13px;
}
.dropdown-menu {
    margin-top: 0px;
}
.dropdown-menu > li {
    margin-top: 6px;
    height: 25px;
}

.img-user-profile-photo-header {
  height: 30px;
  width: 30px;
}

.glyphicon-menu-down-custom {
  font-size: 10px;
  color: #737373;
}

.btn-default-header img {
    vertical-align: middle;
}

.btn-default-header span {
    width: 10px;
    height: 10px;
}

.btn-default-header {
  border-width: 0px;
  border-radius: 0px;
  height: 66px;
  width: 75px;
  padding-top: 15px;
  padding-left: 15px;
  margin-right: 50px;
}
.btn-default-header:hover {
  background-color: white;
}
.btn-default-header:active:focus {
  outline: none;
  background-color: #e7e7e7;
  box-shadow: none;
}
.btn-default-header:active {
  background-color: #e7e7e7;
  box-shadow: none;
}
.btn-default-header:focus {
  outline: none;
  background-color: #e7e7e7;
  box-shadow: none;
}
/* Header with white background-color */
.div-header-container .navbar-static-top-custom {
  background-color: white;
  border-color: lightgray;
  font-size: 10px;
  margin-bottom: 0px;
}

.div-header-container .navbar-header-custom .navbar-brand {
  font-size: 28px;
  color: #ECA739
}

.btn-primary-custom {
  color: white;
  background-color: #ECA739;
  border-color: white;
  padding: 2px 20px;
  border-radius: 0px;
  margin-left: 0px;
  margin-right: 10px;
}

.navbar-nav-custom {}
.navbar-inverse .navbar-nav > .active > a {
    background-color: white;
    color: gray;
    font-size: 17px;
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: white;
    color: #3a3a3a
}
/*.btn-primary-custom.disabled:hover, .btn-primary-custom.disabled:active {
    background-color: red;
}*/

.btn-primary-custom-cancel {
  color: #7D7D7D;
  background-color: #E7E7E7;
}

.btn-primary-custom:hover {
  opacity: 0.7;
  background-color: #ECA739;
  border-color: white
}

.btn-primary-custom-cancel:hover {
  background-color: #C2C2C2;
  color: white;
}

.btn-primary-custom-cancel:active {
    background-color: red;
}

.guide-message {
  color: #3E3E3E;
  font-size: 12px;
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 20px;
}
.modal-content-custom {
  padding-left: 10px;
}
.uploadimage-container {
  /*width: 270px;
  height: 270px;*/
  background: #E4E4E4;
  overflow: hidden;
  width:350px;
  height:350px;
  margin: 0px;
  padding: 0px;
}

.previewimage-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.img-edit-user-photo-preview {
  height: 270px;
  width: 270px;
  /*max-width: 100%;*/
  /*max-height: 100%;*/
  background-color: #E7E7E7;
  border-radius: 0px;
  border-width: 0px;
  border: none
}
.navbar-right-custom .btn-primary-custom:active {
  background: #ECA739;
  border-color: white;
  outline: none
}

.btn-primary-custom:focus {
  background-color: #ECA739;
  border-color: white;
  outline: none
}


/*.navbar-header-custom .navbar-brand {
  color: white
}*/

.footer-custom {
  height: 60px;
  width: 100%;
  min-width: 1000px;
  background-color: #444444;
  bottom: 0px;
}

.social-icon {
  height: 35px;
  width: 35px;
  margin-right: 15px;
}

ul.ul-content li {
  display: inline;
}

.copyright-content-text {
  color: #909090;
  font-size: 14px;
  font-family: 'PingFang SC';
  display: inline;
}

.footer-container {
  padding-top: 12px;
  /*padding-left: 100px;*/
  padding-left: 5%;

  margin: 0px;
}
.footer-container .div-social {
  float: left;
  height: 35px;
  width: 30%;
}

.footer-container .div-copyright {
  float: left;
  height: 35px;
  width: 30%;
  /*min-width: 200px;*/
  padding-top: 7px;
}

.footer-container .div-about-us {
  float: left;
  height: 35px;
  width: 40%;
  min-width: 190px;
  padding-top: 7px;
}
.div-about-us .ul-content li {
  color: #909090;
}

.div-about-us .ul-content li:hover {
  color: #c5c1c1;
  cursor:pointer;
}

.div-about-us ul li:after {
  content: "|";
  padding: 0 .5em;
}

.div-about-us ul li:last-child::after {
  content: none;
}

.div-content-signup-container {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.85);

}

.div-content-signup-panel {
  width: 366px;
  height: 392px;
  background-color: white;
  margin: 0 auto;
}

.div-content-signup-panel .title {
  font-size: 20px;
  margin-left: 15px;
  padding-top: 22px;
  color: #444444;
}

.div-content-signup-panel .subtitle {
  font-size: 12px;
  margin-left: 15px;
  padding-top: 15px;
  color: #444444;
}

.div-content-signup-panel .copyright {
  font-size: 12px;
  margin-left: 15px;
  color: #444444;
}

.form-group-custom {
  padding: 0px 10px;
}

.form-group-custom .input-group-addon {
  border-radius: 0px;
}

.form-group-custom .form-control {
  border-radius: 0px;
}

.btn-primary-custom-submit {
  width: 336px;
  height: 40px;
  margin: 0px 15px;
  margin-top: 10px;
}

.btn-primary-custom-submit[disabled] {
    background-color: #D7D7D7;
    border-color: #D7D7D7;
    color: #9B9B9B;
}
.btn-primary-custom-submit[disabled]:hover {
  background-color: #D7D7D7;
  border-color: #D7D7D7;
  color: #9B9B9B;

}

.has-error .checkbox-custom {
  color: #838383;
  margin-left: 11px;
  font-size: 12px;
  font-weight: lighter;

}

.checkbox-custom .checkbox {
  margin-top: 2px;
}

.data-validate-error {
  font-size: 12px;
  /*text-align: center;*/
  color: #BC342D; /* red */
  padding-left: 15px
}

a {
    color: #337ab7
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none
}

.btn:focus, .btn:active:focus {
    outline: 0;
}
