
.div-user-info-container {
  /*background-color: yellow;*/
  /*display: table-cell;*/
  /*width: 300px;*/
  width: 100%;
  /*padding-left: 30px;*/
  padding-top: 30px;
}

.div-group-info-container {
  /*background-color: green;*/
  display: table-cell;
  width: auto;
}

.div-group-info-container > div {
    /*background-color: green;*/
    background-color: white;
    width: 90%;
    height: 100px;
    margin-left: 10px;
    margin-top: 1110px;
}

.div-base-user-info-panel {
  /*background-color: #5d8aa8;*/
  height: 110px;
  margin-left: 0px;
  margin-top: 0px;
}

.div-my-posts-total-panel {
  /*background-color: #e32636;*/
  height: 115px;
}

.div-my-books-total-panel {
  /*background-color: #efdecd;*/
  /*height: 200px;*/
  /*padding-left: 40px;*/
}

.img-user-profile-photo {
  height: 90px;
  width: 90px;
}

.label-user-profile-name {
  font-size: 20px;
  font-weight: normal;
  float: left;
  margin: 0px;
  padding: 0px;
}

.div-user-info-photo {
  height: 90px;
  float: left
}
.div-user-info-name {
  height: 90px;
  width: 100%;
  padding-top: 5px;
  padding-left: 100px;
}
.label-user-profile-level {
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.label-user-profile-reading-total {
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

/*Edit user profile*/
.btn-defult-edit-userinfo {
    border-width: 0px;
    font-size: 12px;
    font-weight: normal;
    border-radius: 0px;
    text-align: left;
    height: 36px;
    width: 100%;
    padding: 0px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;

}

.list-group-item-custom {
  border-radius: 0px;
  border-width: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  padding-top: 5px;
}
.list-group-item-custom:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.list-group-item-custom:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 50px;
}

.list-group-item-custom span {
}


.list-group-item-custom .title {
  font-size: 12px;
}
.list-group-item-custom label {
  margin-left: 10px;
  font-size: 12px;
  font-weight: normal;
}

.list-group-item-custom .badge {
  float: right;
  margin-right: 10px;
}
hr {
    margin: 10px 0px;
}

a, a:hover, a:focus {
    color: #3A3A3A
}
