.dashboard-container {
  width: 100%;
  min-width: 920px; /* 220px+700px */
  overflow: hidden;
  background-color: #F2F2F2;
}

.div-user-info-container {
  background-color: #f0f8ff;
  width: 30%;
  min-width: 260px;
  height: 100%;
  min-height: 800px;
  float: left;
}

.div-group-info-container {
  background-color: green;
  width: 70%;
  height: 100%;
  min-height: 800px;
  float: right;
}

.div-base-userinfo-panel {
  background-color: #5d8aa8;
  height: 200px;
}

.div-my-posts-total-panel {
  background-color: #e32636;
  height: 200px;
}

.div-my-books-total-panel {
  background-color: #efdecd;
  height: 200px;
}
