.div-root-container {
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
}

.div-title-panel {
  height: 75px;
  /*background-color: #e7e9d1;*/
  margin-left: 45px;
  padding-top: 18px;
}

.div-title-panel label {
    font-size: 30px;
    font-weight: normal;
}

.div-baseinfo-label-panel {
  height: 60px;
  background-color: white;
  margin: 0px 45px;
  padding-left: 15px;
  padding-top: 18px;
}

.div-baseinfo-label-panel label {
  font-size: 17px;
  font-weight: normal;
}

.div-userinfo-panel {
  /*height: 320px;*/
  width: auto;
  background-color: white;
  margin: 2px 45px;
}
.div-userinfo-base-panel {
  display: table;
  width: 96%;
}
.div-photo-panel {
  display: table-cell;
  width: 40%;
  background-color: #c9d787;
}
.div-photo-panel ul li {
  list-style-type: none;
}
.btn-link-custom {
  font-size: 13px;
  margin-left: 60px;
  margin-top: 4px;
}

.btn-link-custom span {
  margin-right: 5px
}

.img-user-profile-photo {
  width: 160px;
  height: 160px;
  margin-left: 34px;
  margin-top: 15px;
}

.div-profile-panel {
  display: table-cell;
  width: 60%;
  background-color: green;
  vertical-align: top
}

.div-profile-base-panel {
  width: 100%;
  margin: 0px;
  margin-top: 30px;
  background-color: #cfc291;
  display: table;
}

.div-labels-panel {
  display: table-cell;
  width: 70px;
}

.div-labels-panel div {
  width: 60px;
  height: 50px;
  /*float: left;*/
  /*background-color: #1FAB21;*/
}
.div-labels-panel div:last-child {
  height: 100px;
}

.div-labels-panel label {
  width: 100%;
  text-align: right;
  margin-bottom: 0px;
  margin-top: 0px;
  /*margin-right: 10px;*/
  font-size: 13px;
  font-weight: normal;
  color: #3a3a3a;
  /*background-color: #AFEEAF;*/
}

.div-inputs-panel {
  display: table-cell;
  background-color: lightgray;
  width: 100%;
  height: 100%;
}
.div-inputs-panel input {
  border-radius: 0px;
  border-color: #A7A6A6;
  border-width: 1px;
  margin-left: 20px;
}
.div-inputs-panel-wrapper {
  width: 100%;
  height: 100%;
  background-color: gray;
}
.div-inputs-panel-wrapper > div {
  height: 50px;
  width: 100%;
}
.div-inputs-panel-wrapper > div:last-child {
  background-color: lightgray;
  height: 100px;
}
/*Name panel*/
.div-input-name-panel {
  background-color: lightgray;
}
.div-input-name-panel-wrapper {
  height: 100%;
  width: 100%;
  background-color: #42C341;
}

/*Address Panel*/
.div-input-address-panel {
  background-color: red;
}
.div-input-address-panel-wrapper {
  height: 100%;
  width: 100%;
  background-color: green;
  display: table;
}
.div-input-address-panel-wrapper > div {
  display: table-cell;
  height: 100%;
  width: 50%;
  background-color: red;
}
.div-input-address-panel-wrapper > div:first-child {
  background-color: green;
}

/*Birthday Panel*/
.div-input-birthday-panel {
  background-color: red;
}
.div-input-birthday-panel-wrapper {
  height: 100%;
  width: 100%;
  background-color: yellow;
  display: table;
}
.div-input-birthday-panel-wrapper > div {
  display: table-cell;
  width: 25%;
  height: 100%;
  background-color: green;
}
.div-input-birthday-panel-wrapper > div:first-child {
  background-color: red;
  width: 50%;
}
.div-input-birthday-panel-wrapper > div:last-child {
  background-color: red;
}

/*Gender panel*/
.div-input-gender-panel {
  background-color: red;
}
.div-input-gender-panel-wrapper {
  height: 100%;
  width: 100%;
  background-color: yellow;
  display: table;
}
.div-input-gender-panel-wrapper > div {
  display: table-cell;
  width: 25%;
  height: 100%;
  background-color: blue;
}
.div-input-gender-panel-wrapper > div:first-child {
  background-color: black;
}

/*Intro panel*/
.div-input-intro-panel-wrapper {
  height: 100%;
  width: 100%;
}
.div-input-intro-panel-wrapper > div {
  height: 100%;
  width: 100%;
  background-color: green;
}








.div-input-birthday-panel {
  background-color: lightgray;
}

.div-savebtn-panel {
  height: 60px;
  background-color: white;
  margin: 0px 45px;
}

.div-savebtn-panel .btn-primary-custom {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}
