.table-custom tr:hover {
    background-color: white
}

#change_password_div input {
    width: 60%;
    margin: 2px 0px 10px 0px;
}

.table {
    font-size: 13px
}

.table tr {
    height: 60px
}

.table tr td:first-child {
    font-weight: bold;
    width: 300px;
}
.table tr td:last-child {
    width: 50px;
}

.table > tbody > tr > td {
    border-color: #e4e4e4;
    padding: 22px 10px;
}

.table tr:first-child td {
    border-top: 0px
}
a {
    color: black
}
