
#change_password_div input {
    width: 60%;
    margin: 2px 0px 10px 0px;
}

#setting-base-div a {
    color: black
}

#setting-base-div {
    background-color: white;
    font-size: 13px;
}
#setting-base-div .row {
    margin:0px 0px;
    border-spacing: 5px;
    border-bottom: 1px solid #e4e4e4;
}
#setting-base-div .row > div {
    padding: 5px 15px
}
#setting-base-div .row > div:first-child{
    font-weight: bold;
}

#setting-base-div .row:first-child {
    /*margin-top:10px;*/
}

#setting-base-div .row:last-child {
    /*margin-bottom: 10px;*/
    border-width: 0px;
}

#setting-base-div .row a {
    float:right
}
